__pycache__/
*.pyc
*.egg-info/
*.log
*.tar.gz
*.tar.xz
*.pkg.tar.zst
.vscode/
.egistec/
.egis-lab/
.codex-sessions/
/eh575-private-capture/
dist/
tmp-egis-inspect/
ghidra_dumps/
src/
pkg/
python-egistec-eh575/

wireshark/
continuous_scans/
