[Unit]
Description=Egis Fingerprint Bridge (Opt Install)
After=open-fprintd.service
Requires=open-fprintd.service

[Service]
Type=simple
User=root
Group=root
# CRITICAL: Forces Python to look in /opt/egis-driver
Environment="PYTHONPATH=/opt/egis-driver"
WorkingDirectory=/opt/egis-driver
ExecStart=/usr/bin/python3 -u ./egis-bridge
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target